#filter{
  margin-top: 25px;
}


.inputDiv {
  display: flex;
  align-items: center;
}

input {
  min-height: 50px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

#buttonSubmit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #007bff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

#buttonSubmit:hover {
  background-color: #5e5dcd;
}

.input:focus {
  border-color: #3898EC;
  outline: none;
}
